
.error404{
    display: flex;
    flex-direction: column;
    gap: 20;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.back {
  display: inline-block;

  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
  background-color:  #081f5e;
  color: rgb(246, 254, 255);
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  height: 7vh;
}

.back:hover {
  background-color: #344f97;
}
.error_header {
    font-size:  70px;
    font-weight: bold;
    
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 5%;
}

p {
    font-size:  30px;
    font-weight: bold;
    
    letter-spacing: 4px;
    color: rgb(246, 254, 255);
}
