
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.inicio {
    display: flex;
    flex-direction: column;
    gap: 20;
    font-family: 'Rubik';
    justify-content: center;
    align-items: center;
    

}

.inicio_header {
    font-size:  15vh;
    font-weight: bolder;
    color: #081f5e;
    
    margin-left: 2%;
    margin-bottom: 2%;
    letter-spacing: 6px;
}



.link-button {
  display: inline-block;
  color: rgb(246, 254, 255);
  
  font-size: 22px;
  font-family: 'Satoshi';
  letter-spacing: 4px;
  text-align: center;
  background-color:  #081f5e;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  width: 15vw;
}

.link-button:hover {
  background-color: #344f97;
}

