
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.RegistroBox {
    display: flex;
    flex-direction: column;
    gap: 20;
    justify-content: center;
    align-items: center;
    

}

.registro_header {
    font-size:  70px;
    font-weight: bolder;
    color: #081f5e;
    
        margin-left: 2%;
        margin-bottom: 3%;
}


.RegistroForma{
    display: flex;
    flex-direction: column;
}

input{
    font-size: 20px;
    text-align: center;
    color: rgb(20, 19, 48);
    
    font-weight: bold;
    background-color: #101c3fbd;
    height: 5vh;
    margin-top: 4%;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    border: none;
}

.registro_input{
  margin-left: 0%;
}

.BotonEnviar{
    font-size: 27px;
    text-align: center;
    color: rgb(246, 254, 255);
    
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: #101c3fbd;
    height: 10vh;
    margin-top: 15%;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    border: none;
}

.BotonEnviar:hover {
  background-color:  #1c2644;
}

