

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #101c3fbd;
  color: white;
  z-index: 900;
  height: 50px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

/* Ocultar el menú por defecto */
.nav-links {
  display: flex;               /* Mostrar como flex */
  flex-direction: column;      /* En columna (uno debajo del otro) */
  align-items: flex-start;     /* Alineación izquierda */
  background-color: #101c3f6e;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.3s ease;
}

.nav-links.activo {
  max-height: 500px;
  padding: 1rem;
}

.nav-links a {
  display: block;              /* Asegura que cada link ocupe toda una línea */
  color: white;
  font-size: 20px;
  font-family: 'Metropolis', monospace;
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5rem;
}


.nav-links a:hover {
  text-decoration: underline;
}

.nav-header img {
    width: 65px;
    display: none;
}

/* Media query para vista móvil */

@media (max-width: 768px) {

  .nav-container {
    height: auto;
  }
  
  .nav-header{
    padding: 0.5rem;
  }
  
  .nav-header img {

    display: block;

    width: 45px;

    height: auto;

    object-fit: contain;
  }

    .hamburger {

    display: block;
  }
}